<section class="container ">
	<div class="wrapper">
		<div class="overview-part">

			<div class="breadcrumb">
				<ul>
					<li><a href="/Organisation/Index">Home <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Contact Us <i class="fa fa-angle-right"></i></a></li>

				</ul>
			</div><!--breadcrumb close here-->

			<div class="accordion-content cms_dynamic" style="display: block;">
				<h3 class="sma"><i class="fa fa-angle-double-right"></i> Contact Us</h3>
				<div class="left_contente">
					<p><strong>Postal Address : </strong><br></p>
					<p>
						SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED <br>
						Office No. 228 2nd floor,<br>
						Global Business Park,<br>
						Zirakpur, Punjab - 140603
						<!--Cabin No 332,<br>-->
						<!--Global Business Park,<br>-->
						<!--                  Zirakpur,
										  Punjab -->
					</p>
					<p>Head Office : <span>9am to 5pm- Monday to Saturday</span></p>
					<p>Mobile No.: <span>  7087412635</span></p>
					<p>Email : <span>  info@shagungraminhealth.com</span></p>
				</div>

				<div class="news-notifications">
					<h2>News & Notifications</h2>

					<div class="notification-list">
						<ul>
							<li><a href="#" title="Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam" target="_blank"><span class="noti">Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam</span></a></li>
							<li><a href="#" title="It is a department which is work for social welfare under ministry of corporate affairs goverment of india." target="_blank"><span class="noti">It is a department which is work for social welfare under ministry of corporate affairs goverment of india</span></a></li>
						</ul>
						<!--a class="read_link" href="https://hrylabour.gov.in/home/readmore?cat_id=46&status=1">Read More</a-->
					</div><!--notific-list close here-->

				</div><!--news-notifications close here-->


			</div>
		</div>

	</div>
</section>