<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider/jquery.bxslider.css">
</head>
<section class="container ">
    <div class="wrapper">
        <style>
            .accordion-header h1 {
                font-size: 13px;
            }

            .marquee {
                width: 100%;
                overflow: hidden;
                margin-bottom: 14px;
                color: #dd2929;
                font-size: 14px;
                font-weight: 700;
                float: left;
                background: #ffd8b1;
                padding: 10px 0;
            }
        </style>
        <script src="cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.html"></script>
        <script src="~/assets/assets/js/jquery.validate.js"></script>
        <script type="text/javascript" src="~/assets/aseets/js/woco.accordion.min.js"></script>
        <!-- Slider Section Start Here -->
        <section class="slider_sec" id="slider_sec">
            <div class="wrapper">
                <div class="slider_outer">
                    <aside class="user_information">
                        <div class="main-users">
                            <ul class="">
                                <div id="Div1" style="margin-top: 15px; text-align: center;">
                                    <h3>To avail SGHFWC any scheme or service, Please visit </h3>
                                    your nearest CSC Center
                                    <br><br><a href="~/assets/assets/form.pdf" target="_blank"><img src="~/assets/assets/images/form_download.png" /></a>
                                    <br>
                                    For any queries related to schemes/services ,<br>(9am to 5pm- Monday to Saturday)							<h4>
                                        <a href="https://www.google.com/search?q=csc+center+near+me" target="_blank">CSC Center Search Near Me</a>
                                    </h4>
                                </div>

                            </ul>

                            <div class="bootstrap-web">
                                <a href="/UserLogin/Register" target="_blank">
                                    <img class="rounded mx-auto d-block mt-3" src="~/assets/assets/images/job.gif" alt="Job">
                                </a>
                            </div>

                        </div>
                    </aside>
                    <div class="slider">
                        <div class="bx-wrapper" style="max-width: 100%;">
                            <ul class="bxslider">
                                <li><a target="_blank" href="#"><h2>खिलाड़ी प्रोत्साहन योजना</h2><img src="~/assets/assets/images/slide3.png"></a></li>
                                <li><a target="_blank" href="#"><h2>welcome to  SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED</h2><img src="~/assets/assets/images/slide1.png"></a></li>
                                <li><a target="_blank" href="#"><h2>कन्या विवाह सहायता योजना</h2><img src="~/assets/assets/images/slide2.png"></a></li>
                            </ul>

                            <!-- Pager and Controls -->
                            <div class="bx-controls bx-has-pager bx-has-controls-direction">
                                <!-- Pager -->
                                <div class="bx-pager bx-default-pager">
                                    <div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a></div>
                                    <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div>
                                    <div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div>
                                </div>
                                <!-- Controls -->
                                <div class="bx-controls-direction">
                                    <a class="bx-prev" href="">Prev</a>
                                    <a class="bx-next" href="">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="login_sec" style="padding:10px;">

                        <link rel="stylesheet" href="~/assets/assets/css/hlwb/bootstrap-web.css">
                        <div class="bootstrap-web">
                            <div class="border border-white mt-2">
                                <h6 class="text-center text-danger font-weight-bold">E-Services Online</h6>
                            </div>
                            <a href="UserLogin/Register?Member" style="background-color:#ffd8b1; border-color:#ffd8b1;" class="btn btn-warning btn-block btn-flat p-2 mt-3 text-left"><i class="fa fa-user"></i> Apply Membership </a>
                            <a href="UserLogin/Login" style="background-color:#ffd8b1; border-color:#ffd8b1;" class="btn login-btn btn-block btn-flat p-2 mt-3 text-left"><i class="fa fa-user"></i> Members Login</a>
                            <a href="UserLogin/Register?Candidate" style="background-color:#ffd8b1; border-color:#ffd8b1;" class="btn btn-warning btn-block btn-flat p-2 mt-3 text-left"><i class="fa fa-user"></i> Candidates Apply</a>
                            <a href="Organization/Contact" style="background-color:#ffd8b1; border-color:#ffd8b1;" class="btn btn-warning btn-block btn-flat p-2 mt-3 text-left"><i class="fa fa-phone"></i> Contact Us</a>
                            <a href="Organization/Services" style="background-color:#ffd8b1; border-color:#ffd8b1;" class="btn btn-warning btn-block btn-flat p-2 mt-3 text-left"><i class="fa fa-list"></i>  Services</a>
                        </div>

                    </aside>


                </div>
            </div>
        </section>
        <!-- Slider Section End Here -->
        SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED primarily aims to work towards Health &amp; Sanitation, education, strengthening and capacity building of local communities with a view to enhancing adaptive capability and community resilient towards overall development of Society. The program strategy is towards achieving acceleration of socio, economic change and environmental sustainability in promoting sustainable livelihood, asset creation and institutional building at the community level.	<br>	<br>	<br>


        <div class="marquee" style="font-size:18px">
            <marquee><a href="~/assets/assets/job.pdf" target="_blank">Recruitment for the various posts under SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED, Zirakpur   (download application form)</a></marquee>
        </div>

        <div class="marquee" style="font-size:18px">
            <marquee><a href="~/assets/assets/form.pdf" target="_blank" style="color: red">कार्यालय द्वारा कल्याणकारी योजनाओं सम्बन्धित आवेदन पोर्टल पर या नजदीक के सी0एस0सी0 केन्द्रों पर जाकर अपना यूनिक पंजीकरण नम्बर प्राप्त करें। (download application form)</a></marquee>
        </div>








        <!-- Container Start Here -->
        <section class="container">
            <div class="wrapper">


                <div class="section-middle">
                    <aside class="document_sec">
                        <div class="accordion">
                            <div class="drawer">
                                <div class="accordion-item accordion-item-active">
                                    <div class="accordion-header accordion-header-active"><div class="accordion-header-icon accordion-header-icon-active"></div><h1>Application Form</h1></div><div class="accordion-content" style="display: block;">
                                        <ul class="news">
                                            <li><a href="~/assets/assets/form.pdf" title="Click Here To Open" target="_blank">SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED works for the welfare of society at the very Grass root level like Poor, SC/ST and other downtrodden Classes<span> Joining Application Form</span></a></li>
                                            <li>								</li>
                                        </ul>
                                        <!--a class="read_link" href="home/readmore?cat_id=51&status=1">Read More</a-->
                                    </div>
                                </div>
                            </div>

                            <div class="drawer">
                                <div class="accordion-item">
                                    <div class="accordion-header"><div class="accordion-header-icon"></div><h1>Job Application</h1></div><div class="accordion-content">
                                        <ul class="news">
                                            <li><a href="~/assets/assets/job.pdf" title="Click Here To Open" target="_blank">Recruitment for the various posts under SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED, Zirakpur<span>Download Form</span></a></li>
                                        </ul>
                                        <!--a class="read_link" href="home/readmore?cat_id=63&status=1">Read More</a-->
                                    </div>
                                </div>
                            </div>



                        </div>

                    </aside>

                    <div class="news-notifications">
                        <h2>News &amp; Notifications</h2>
                        <div class="notific-list">
                            <ul>
                                <li><a href="#" title="Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam" target="_blank"><span class="noti">Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam</span></a></li>
                                <li><a href="#" title="It is a department which is work for social welfare under ministry of corporate affairs goverment of india." target="_blank"><span class="noti">It is a department which is work for social welfare under ministry of corporate affairs goverment of india</span></a></li>
                            </ul>
                            <!--a class="read_link" href="https://hrylabour.gov.in/home/readmore?cat_id=46&status=1">Read More</a-->
                        </div>
                        <!--notific-list close here-->
                    </div>
                    <!--news-notifications close here-->

                    <div class="col_three" id="col_three">
                        <h2>Where We Operate</h2>

                        <div class="license_outer">


                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3432.7973307296747!2d76.82092682543822!3d30.63966884012468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feb2c82158e49%3A0x69946074fb3af3a4!2sGlobal%20Business%20Park%2C%20Zirakpur%2C%20Punjab%20140603!5e0!3m2!1sen!2sin!4v1719825607866!5m2!1sen!2sin" width="100%" height="160" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



                            <br>

                        </div>

                    </div>

                </div>



                <section class="scheme_sec">
                    <div class="col one">
                        <div class="portfolio-item">
                            <div class="bocw_img"></div>
                            <div class="hover-overlay1">
                                <h2>SGHFWC Welfare Schemes</h2>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            मुख्य कार्यालय द्वारा ग्रामीण एरिया में लाभार्थी की लडकी की शादी में कन्यादान की राशि 21000/-  निर्धारित की गई है,  यह राशि तीन लडकियों तक ही प्रदान की जायेगी । पंजीकरण के समय कन्याओ की उम्र 0 से 15 वर्ष के बीच होना अनिवार्य है  ।
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            मुख्य कार्यालय द्वारा भारत के प्रत्येक जिले में स्कूल/कॉलेज/प्राइवेट आईटीआई का निर्माण कराया जायेगा। जिसमें मुख्य कार्यालय में पंजीकृत के बच्चों को प्रवेश में प्राथमिकता प्रदान की प्रदान की जायेगी ।
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            मुख्य कार्यालय के माध्यम से समय-समय पर स्कूली विद्यार्थियों द्वारा स्कूलों में सांस्कृतिक कार्यक्रमों का आयोजन किया जायेगा जिसमें विद्यार्थियों द्वारा प्रथम, द्वितिय व तृतीय स्थान प्राप्त करने पर संबंधित विद्यार्थियों को मुख्य कार्यालय के निदेशक द्वारा पुरस्कार प्रदान किये जायेंगे ।
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            मुख्य कार्यालय द्वारा ग्रामीण इलाकों में प्रत्येक गांव से केवल 200 पंजीकरण फार्म ही मान्य है ।
                                        </a>
                                    </li>

                                </ul>

                                <a class="read_more" href="Organization/Services">Read More</a>
                            </div>
                        </div>
                    </div>





                </section>





            </div>
        </section>
        <!-- Container End Here -->
        <!-- Modal -->
        <style>
            #loading {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: block;
                background-color: #fff;
                text-align: center;
            }

            #loading-image {
                position: absolute;
                top: 100px;
                left: 240px;
                z-index: 100;
            }

            .modal-backdrop {
                background-color: #000;
            }

                .modal-backdrop.in {
                    opacity: .5;
                }

                .modal-backdrop.fade {
                    opacity: 0;
                }

            .modal {
                display: none;
            }

            .otp-btn {
                border-radius: 0px 5px 5px 0px;
            }

            .otp-msg {
                text-align: left;
                position: inherit;
                font-size: 12px;
                color: red;
            }

            #loading .modal {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1050;
                display: none;
                width: 100%;
                height: 100%;
                overflow: hidden;
                outline: 0;
            }

            #loading .modal-dialog {
                position: relative;
                max-width: 500px;
                margin: 1.75rem auto;
                pointer-events: none;
            }

            #loading .modal-content {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 100%;
                pointer-events: auto;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, .2);
                border-radius: .3rem;
                outline: 0;
            }

            #loading .modal-header {

                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: start;
                align-items: flex-start;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 1rem 1rem;
                border-bottom: 1px solid #e9ecef;
                border-top-left-radius: .3rem;
                border-top-right-radius: .3rem;
            }

            #loading .modal-title {
                margin-bottom: 0;
                line-height: 1.5;
                font-weight: normal;
            }

            #loading .close:not(:disabled):not(.disabled) {
                cursor: pointer;
            }

            #loading .modal-header .close {
                padding: 1rem 1rem;
                margin: -1rem -1rem -1rem auto;
            }

            #loading button.close {
                padding: 0;
                background-color: transparent;
                border: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }

            #loading .close {
                float: right;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                opacity: .5;
            }

            [type=button],
            [type=reset],
            [type=submit],
            button {
                -webkit-appearance: button;
            }

            #loading .modal-body {
                position: relative;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: 1rem;
            }

            #loading .input-group {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-align: stretch;
                align-items: stretch;
                width: 100%;
            }

            .modal-backdrop {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1040;
                width: 100vw;
                height: 100vh;
                background-color: #000;
            }

            #loading .form-control {
                display: block;
                height: calc(2.25rem + 2px);
                padding: .375rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }

            #loading .btn {
                display: inline-block;
                font-weight: 400;
                color: #212529;
                text-align: center;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }

            #loading .btn-primary {
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }

            #loading .input-group > .form-control {
                position: relative;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0px;
            }

            .address_office p {
                color: #000;
                font-size: 16px;
                line-height: 38px;
                font-family: arial;
            }
        </style>
        <div id="loading">
            <div id="myModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="myModalLabel" class="modal-title">Submit Your OTP</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" id="otp-close">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="hidden" name="dp_usr" value="">
                                    <input type="hidden" name="dp_pwd" value="">
                                    <input type="hidden" name="dp_phone" value="">
                                    <input type="text" maxlength="6" placeholder="OTP" name="otp_val" class="form-control numbersOnly" autocomplete="off">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary otp-btn">Submit OTP</button>
                                    </span>
                                </div>
                                <p class="otp-msg"></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="otp-modal "></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script>
            $(document).ready(function () {
                var slider = $('.bxslider').bxSlider({
                    mode: 'horizontal',
                    pager: true,
                    controls: true,
                    onSlideAfter: function (currentSlideNumber, totalSlideQty, currentSlideHtmlObject) {
                        updatePager(currentSlideHtmlObject);
                    }
                });

                function updatePager(currentSlideHtmlObject) {
                    var slideIndex = $(currentSlideHtmlObject).data('slideIndex');
                    $('.bx-pager-item').removeClass('active');
                    $('.bx-pager-item').eq(slideIndex).addClass('active');
                }

                $('.bx-prev').click(function () {
                    slider.goToPrevSlide();
                    return false;
                });

                $('.bx-next').click(function () {
                    slider.goToNextSlide();
                    return false;
                });

                // Initially mark the first pager item as active
                $('.bx-pager-item').eq(0).addClass('active');
            });
        </script>
        <script src="~/assets/assets/js/sha1.js"></script>
        <script src="~/assets/assets/js/jquery.validate.js"></script>
        <script src="~/assets/aseets/js/woco.accordion.min.js"></script>
        <script src="~/assets/assets/js/javascript.js"></script>


    </div>
