<section class="container ">
	<div class="wrapper">
		<div class="overview-part">

			<div class="breadcrumb">
				<ul>
					<li><a href="/Organization/Index">Home <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Overview <i class="fa fa-angle-right"></i></a></li>

				</ul>
			</div><!--breadcrumb close here-->

			<div class="accordion-content cms_dynamic" style="display: block;">
				<h3 class="sma"><i class="fa fa-angle-double-right"></i> Overview</h3>
				<div class="left_contente">
					<p>
						SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED is a Non-profit organization specializing in to carry on the activities to develop, Establish, promote, facilitate, promotion, improvement of educational, social, cultural, economic and medical relief to the poor and downtrodden and advancement of any other charitable and developmental objects of general public utility and community welfare as well as social work for gramin welfare promote commerce, art, science, sports, education. reserach, social, welfare, religion, charity, protection of environment or any such other object.<br>

						The Foundation also have the agenda to educate the poor girl child and give facilities like arrangement of marriage ceremony, kanyadan etc. Gramin Social Welfare Programme goals to train most women living in rural areas to become enterpreneurs by training them in domestic Industry If women are unable to tun their own industry due to lack of money, then we cooperate fully in giving them the benefits of government like udyog loan etc.<br>

						"SAMADHAN GRAMIN WELFARE AND EMPLOYEMENT SERVICES LIMITED" in the year 2022 with the objective to make consistent efforts towards ensuring quality Skill Development and health services especially to the por and marginalized community of rural areas. Institute is dedicated to Skill Development also focuses on Agricultural engineering.
					</p>
				</div>

				<div class="news-notifications">
					<h2>News & Notifications</h2>

					<div class="notification-list">
						<ul>
							<li><a href="#" title="Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam" target="_blank"><span class="noti">Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam</span></a></li>
							<li><a href="#" title="It is a department which is work for social welfare under ministry of corporate affairs goverment of india." target="_blank"><span class="noti">It is a department which is work for social welfare under ministry of corporate affairs goverment of india</span></a></li>
						</ul>
						<!--a class="read_link" href="https://hrylabour.gov.in/home/readmore?cat_id=46&status=1">Read More</a-->
					</div><!--notific-list close here-->

				</div><!--news-notifications close here-->


			</div>
		</div>

	</div>
</section>