	<!--Navigation End Here-->
<section class="container ">
	<div class="wrapper">
		<div class="overview-part">

			<div class="breadcrumb">
				<ul>
					<li><a href="/Organization/Index">Home <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Services <i class="fa fa-angle-right"></i></a></li>

				</ul>
			</div><!--breadcrumb close here-->

			<div class="accordion-content cms_dynamic" style="display: block;">
				<h3 class="sma"><i class="fa fa-angle-double-right"></i> Services</h3>
				<div class="left_contente">
					<p><b>  मुख्यालय द्वारा दी जाने वाली लाभकारी सुविधाएंः-</b></p>
					<p>1. मुख्य कार्यालय द्वारा संचलित स्कीम जिनके पास दो एकड या इससे कम जमीन वाला व्यक्ति जिसकी उम्र 18-40 वर्ष के बीच हो, चाहे वह किसी भी जाति से संबंध रखता हो, मुख्य कार्यालय की स्कीमों का लाभ प्राप्त कर सकता है ।</p>
					<p>2. मुख्यालय द्वारा एक वर्षीय 300/- रूपये तथा सक्रिय सदस्यता शुल्क (आजीवन) 1100/- रूपये फीस निर्धारित की गई है, जो व्यक्ति मुख्यालय का सदस्य होगा वह हर प्रकार की स्कीमों का लाभ प्राप्त कर सकेगा ।</p>
					<p>3. मुख्य कार्यालय द्वारा ग्रामीण इलाकों में प्रत्येक गांव से केवल 300 पंजीकरण फार्म ही मान्य है ।</p>
					<p>4. मुख्य कार्यालय द्वारा ग्रामीण एरिया में लाभार्थी की लडकी की शादी में कन्यादान की राशि 21000/-  निर्धारित की गई है,  यह राशि तीन लडकियों तक ही प्रदान की जायेगी । पंजीकरण के समय कन्याओं की उम्र 0 से 15 वर्ष के बीच होना अनिवार्य है  । </p>

					<p>5. मुख्य कार्यालय में पंजीकृत होने वाले प्रत्येक लाभार्थी को 60 दिन के  आर्थिक सहायता राशि लाभार्थी के परिजनों (जिनको पंजीकरण फार्म में नॉमिनी दर्शाया गया है) को मुख्य कार्यालय के कोष से राशि प्रदान की जायेगी ।</p>
					<p>6. मुख्य कार्यालय में लाभार्थी द्वारा अंशदान  के रूप में 30/- महीना 60 वर्ष की आयु पूरी होने तक जमा करवाना होगा उसके पश्चात लाभार्थी को 1500/- प्रति महीना वृद्वावस्था सहायता के तौर पर मुख्य कार्यालय के कोष द्वारा राशि प्रदान की जायेगी । अगर किसी कारणवश लाभार्थी लगातार एक वर्ष तक अंशदान जमा नहीं करवा पाता है तो उस स्थिति में लाभार्थी का पंजीकरण रद्द कर दिया जायेगा । अगर वहीं लाभार्थी दोबारा पंजीकरण करवाता है तो उस स्थिति में नया पंजीकरण माना जायेगा ।</p>
					<p>
						7. मुख्य कार्यालय द्वारा ग्रामीण एरिया के बेरोजगार युवक/युवतियों द्वारा मुख्य कार्यालय से बेरोजगार पंजीकरण
						योजना के तहत आवेदन फार्म प्राप्त करके पंजीकरण करवाना होगा । पंजीकरण के पांच वर्ष पश्चात मुख्य कार्यालय द्वारा संचालित शाखाओं में योग्य युवक/युवतियों को रोजगार के अवसर भी उपलब्ध करवाये जायेगें ।
					</p>
					<p>8. मुख्य कार्यालय के माध्यम से समय-समय पर स्कूली विद्यार्थियों द्वारा स्कूलों में सांस्कृतिक कार्यक्रमों का आयोजन किया जायेगा जिसमें विद्यार्थियों द्वारा प्रथम, द्वितिय व तृतीय स्थान प्राप्त करने पर संबंधित विद्यार्थियों को मुख्य कार्यालय के निदेशक द्वारा पुरस्कार प्रदान किये जायेंगे ।.</p>
					<p>9.  मुख्य कार्यालय द्वारा भारत के प्रत्येक जिले में स्कूल/कॉलेज/प्राइवेट आईटीआई का निर्माण कराया जायेगा। जिसमें मुख्य कार्यालय में पंजीकृत के बच्चों को प्रवेश में प्राथमिकता प्रदान की प्रदान की जायेगी ।</p>
					<p>10. मुख्य कार्यालय का मुख्य उद्देश्य ग्रामीण इलाकों में ज्यादा से ज्यादा मात्रा में विकास के कार्य, रोजगार सेवाएं तथा गरीब परिवारों के बच्चों को शिक्षित करना है ।</p>
					<p><b>नोटः ये सभी लाभकारी स्कीमें भारत के सभी प्रांतों  के ग्रामीण एरिया में शगुन  ग्रामीण हैल्थ एण्ड फैमिली वैलफेयर कॉउसिल विभाग द्वारा जनहित में जारी की गई है । किसी भी प्रकार के विवाद के न्यायालय क्षेत्राधिकार ज़ीरकपुर , पंजाब माना जायेगा । मुख्य कार्यालय के निदेशक के पास किसी भी प्रकार का निर्णय जो मुख्य कार्यालय के हित में हो स्वतंत्र अधिकार सुरक्षित है तथा मुख्य कार्यालय निदेशक का अन्तिम निर्णय सर्वमान  रहेगा । </b></p>

				</div>

				<div class="news-notifications">
					<h2>News & Notifications</h2>

					<div class="notification-list">
						<ul>
							<li><a href="#" title="Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam" target="_blank"><span class="noti">Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam</span></a></li>
							<li><a href="#" title="It is a department which is work for social welfare under ministry of corporate affairs goverment of india." target="_blank"><span class="noti">It is a department which is work for social welfare under ministry of corporate affairs goverment of india</span></a></li>
						</ul>
						<!--a class="read_link" href="https://hrylabour.gov.in/home/readmore?cat_id=46&status=1">Read More</a-->
					</div><!--notific-list close here-->

				</div><!--news-notifications close here-->


			</div>
		</div>

	</div>
</section>