		<!--Navigation End Here-->
<section class="container ">
	<div class="wrapper">
		<div class="overview-part">

			<div class="breadcrumb">
				<ul>
					<li><a href="/Organisation/Index">Home <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Vision <i class="fa fa-angle-right"></i></a></li>

				</ul>
			</div><!--breadcrumb close here-->

			<div class="accordion-content cms_dynamic" style="display: block;">
				<h3 class="sma"><i class="fa fa-angle-double-right"></i> Vision</h3>
				<div class="left_contente">
					<p>Our Vision to seek a world of hope, tolerance and social justice, where poverty has been overcome and people live in dignity and security.</p>
				</div>

				<div class="news-notifications">
					<h2>News & Notifications</h2>

					<div class="notification-list">
						<ul>
							<li><a href="#" title="Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam" target="_blank"><span class="noti">Don't respond to unsolicited emails: Always keep a note of where you've applied for the job. Do not respond to any generic emails from an unknown company, as it could be a scam</span></a></li>
							<li><a href="#" title="It is a department which is work for social welfare under ministry of corporate affairs goverment of india." target="_blank"><span class="noti">It is a department which is work for social welfare under ministry of corporate affairs goverment of india</span></a></li>
						</ul>
						<!--a class="read_link" href="https://hrylabour.gov.in/home/readmore?cat_id=46&status=1">Read More</a-->
					</div><!--notific-list close here-->

				</div><!--news-notifications close here-->


			</div>
		</div>

	</div>
</section>