@Model ShagunGraminHealth.ViewModel.MembershipFormViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <!-- .nk-block-head -->
                <div class="nk-block nk-block-lg">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h4 class="title nk-block-title">पंजीकरण</h4>
                            <div class="nk-block-des">
                                <p>अपने दस्तावेजों के अनुसार अपना विवरण दर्ज करें।.</p>
                            </div>
                        </div>
                    </div>



                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="card-inner">

                                <form asp-action="ApplyMember" method="post" enctype="multipart/form-data">
                                    <br><div class="">
                                        <h5>आवेदन विवरण</h5>

                                        <div class="">
                                            <div class="row gy-3">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">आवेदन संख्या<span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" readonly="" value="240717103402LTXH2780" id="Application_Id" name="Application_Id" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">योजना संख्या<span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" readonly="" value="@ViewBag.PlanNumber" id="PlanNumber" name="PlanNumber" required="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="hidden" value="@ViewBag.PaymentAmount" id="PaymentAmount" name="PaymentAmount">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="Reference">Reference<span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control required" id="Reference" name="Reference" required pattern="\d+" title="Please enter digits only">
                                                            <div class="error-message" id="referenceError"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- .col -->
                                            </div>
                                        </div>
                                        <br>




                                        <div class="">
                                            <h5>व्यक्तिगत विवरण</h5>
                                        </div><br>
                                        <div class="">
                                            <div class="row gy-2">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">लाभार्थी का नाम <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Candidate_Name" name="Candidate_Name" required pattern="[A-Za-z\s]+" title="Please enter characters only">
                                                            <div class="error-message" id="candidateNameError"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">पिता/पति का नाम <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Father_Name" name="Father_Name" required pattern="[A-Za-z\s]+" title="Please enter characters only">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">स्थाई पता<span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <textarea data-msg="Required" class="form-control required" id="Parmanent_Address" name="Parmanent_Address" required="" rows="4" placeholder="स्थाई पता"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">वर्तमान पता <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <textarea data-msg="Required" class="form-control required" id="Current_Address" name="Current_Address" required="" rows="4" placeholder="वर्तमान पता "></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">मोबाइल नंबर <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Mobile" name="Mobile" required pattern="\d+" title="Please enter digits only">
                                                            <div class="error-message" id="mobileError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                          

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-token-address">जन्मतिथि<span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">


                                                            <!----input class="dob_flds" type="text" placeholder="DD" id="Date_of_Birth_Days" name="Date_of_Birth_Days"---->
                                                            <select class="dob_flds" id="Date_of_Birth_Days" name="Date_of_Birth_Days">
                                                                <option value="">DD</option>
                                                                <option value="01">01</option>
                                                                <option value="02">02</option>
                                                                <option value="03">03</option>
                                                                <option value="04">04</option>
                                                                <option value="05">05</option>
                                                                <option value="06">06</option>
                                                                <option value="07">07</option>
                                                                <option value="08">08</option>
                                                                <option value="09">09</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                            </select>

                                                            <!----input class="dob_flds" type="text" placeholder="MM" id="Date_of_Birth_Months" name="Date_of_Birth_Months"---->
                                                            <select class="dob_flds" id="Date_of_Birth_Months" name="Date_of_Birth_Months">
                                                                <option value="">MM</option>
                                                                <option value="01">01</option>
                                                                <option value="02">02</option>
                                                                <option value="03">03</option>
                                                                <option value="04">04</option>
                                                                <option value="05">05</option>
                                                                <option value="06">06</option>
                                                                <option value="07">07</option>
                                                                <option value="08">08</option>
                                                                <option value="09">09</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                            </select>
                                                            <input class="dob_flds" type="year" placeholder="YYYY" id="Date_of_Birth_Years" name="Date_of_Birth_Years">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">लिंग<span style="color:red">*</span></label>

                                                        <div class="form-control-wrap">
                                                            <select name="Sex" class="form-control">
                                                                <option value=""></option>
                                                                <option value="पुरुष">पुरुष</option>
                                                                <option value="महिला">महिला</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">शैक्षणिक स्तर <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="educational_level" value="" name="educational_level" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">वैवाहिक स्थिति <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="marriage" value="" name="marriage" required pattern="[^0-9]*">
                                                            <div class="error-message" id="marriageError" style="display:none;">Please enter a valid marital status .</div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">जाति श्रेणी <span style="color:red">*</span></label>

                                                        <div class="form-control-wrap">
                                                            <select name="Category" class="form-control">
                                                                <option value=""></option>
                                                                <option value="सामान्य">सामान्य</option>
                                                                <option value="ओ.बी.सी">ओ.बी.सी.</option>
                                                                <option value="बी.सी">बी.सी</option>
                                                                <option value="एस.सि.">एस.सि.</option>



                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">राशन कार्ड संख्या</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="ration_card" value="" name="ration_card" required pattern="\d+" title="Please enter digits only">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">आधार कार्ड संख्या <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="aadhar_card" value="" name="aadhar_card" required pattern="\d+" title="Please enter digits only">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">खाता नंबर <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="bank_account" value="" name="bank_account" required pattern="\d+" title="Please enter digits only">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">आईएफएससी कोड <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="IFSC" value="" name="IFSC" title="Please enter a valid IFSC code">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-mobile-number">बैंक का नाम व शाखा <span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control required" id="bank_name" name="bank_name" required>
                                                            <div class="error-message" id="bankNameError" style="display: none;">Please enter the bank name and branch.</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>

                                                </br>
                                                <div class="">
                                                    <h5>परिवार का विवरण </h5>
                                                </div>
                                                <br></br>
                                                <div class="">
                                                    <div class="row gy-2">

                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label style="font-size: 0.7rem !important;" class="form-label" for="fw-first-name">क्रम संख्या </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="1" readonly="" id="FamilyDetails[0].Serial" name="FamilyDetails[0].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-size: 0.7rem !important;" class="form-label" for="fw-token-address">परिवार के सदस्य का नाम</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[0].FamilyMemberName" name="FamilyDetail[0].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-size: 0.7rem !important;" class="form-label" for="fw-email-address">लाभार्थी से संबध  </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[0].Relation" value="" name="FamilyDetail[0].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label style="font-size: 0.7rem !important;" class="form-label" for="fw-mobile-number">आयु</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[0].Age" value="" name="FamilyDetail[0].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-size: 0.7rem !important;" class="form-label" for="fw-first-name">आधार कार्ड  संख्या  </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[0].AadharNumber" name="FamilyDetail[0].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-size: 0.7rem !important;" class="form-label" for="fw-token-address">शिक्षा का स्तर </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[0].EducationalLevel" name="FamilyDetail[0].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-size: 0.7rem !important;" class="form-label" for="fw-email-address">यदि पढ़ रहा  है / रही है तो स्कूल का नाम  </label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[0].SchoolName" value="" name="FamilyDetail[0].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="2" readonly="" id="FamilyDetails[1].Serial" name="FamilyDetails[1].Serial">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[1].FamilyMemberName" name="FamilyDetail[1].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[1].Relation" value="" name="FamilyDetail[1].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[1].Age" value="" name="FamilyDetail[1].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[1].AadharNumber" name="FamilyDetail[1].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[1].EducationalLevel" name="FamilyDetail[1].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[1].SchoolName" value="" name="FamilyDetail[1].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>





                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" readonly="" value="3" id="FamilyDetails[2].Serial" name="FamilyDetails[2].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[2].FamilyMemberName" name="FamilyDetail[2].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[2].Relation" value="" name="FamilyDetail[2].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[2].Age" value="" name="FamilyDetail[2].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[2].AadharNumber" name="FamilyDetail[2].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[2].EducationalLevel" name="FamilyDetail[2].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[2].SchoolName" value="" name="FamilyDetail[2].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="4" readonly="" id="FamilyDetails[3].Serial" name="FamilyDetails[3].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[3].FamilyMemberName" name="FamilyDetail[3].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[3].Relation" value="" name="FamilyDetail[3].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[3].Age" value="" name="FamilyDetail[3].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[3].AadharNumber" name="FamilyDetail[3].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[3].EducationalLevel" name="FamilyDetail[3].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[3].SchoolName" value="" name="FamilyDetail[3].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="5" readonly="" id="FamilyDetails[4].Serial" name="FamilyDetails[4].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[4].FamilyMemberName" name="FamilyDetail[4].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[4].Relation" value="" name="FamilyDetail[4].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[4].Age" value="" name="FamilyDetail[4].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[4].AadharNumber" name="FamilyDetail[4].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[4].EducationalLevel" name="FamilyDetail[4].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[4].SchoolName" value="" name="FamilyDetail[4].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="6" readonly="" id="FamilyDetails[5].Serial" name="FamilyDetails[5].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[5].FamilyMemberName" name="FamilyDetail[5].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[5].Relation" value="" name="FamilyDetail[5].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[5].Age" value="" name="FamilyDetail[5].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[5].AadharNumber" name="FamilyDetail[5].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[5].EducationalLevel" name="FamilyDetail[5].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[5].SchoolName" value="" name="FamilyDetail[5].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="7" readonly="" id="FamilyDetails[6].Serial" name="FamilyDetails[6].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[6].FamilyMemberName" name="FamilyDetail[6].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[6].Relation" value="" name="FamilyDetail[6].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[6].Age" value="" name="FamilyDetail[6].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[6].AadharNumber" name="FamilyDetail[6].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[6].EducationalLevel" name="FamilyDetail[6].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[6].SchoolName" value="" name="FamilyDetail[6].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="8" readonly="" id="FamilyDetails[7].Serial" name="FamilyDetails[7].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[7].FamilyMemberName" name="FamilyDetail[7].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[7].Relation" value="" name="FamilyDetail[7].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[7].Age" value="" name="FamilyDetail[7].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[7].AadharNumber" name="FamilyDetail[7].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[7].EducationalLevel" name="FamilyDetail[7].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[7].SchoolName" value="" name="FamilyDetail[7].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="9" readonly="" id="FamilyDetails[8].Serial" name="FamilyDetails[8].Serial">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[8].FamilyMemberName" name="FamilyDetail[8].FamilyMemberName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[8].Relation" value="" name="FamilyDetail[8].Relation">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" id="FamilyDetail[8].Age" value="" name="FamilyDetail[8].Age">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[8].AadharNumber" name="FamilyDetail[8].AadharNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="FamilyDetail[8].EducationalLevel" name="FamilyDetail[8].EducationalLevel">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">

                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="FamilyDetail[8].SchoolName" value="" name="FamilyDetail[8].SchoolName">
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-6">
                                                            <p>लाभार्थी  के परिवार का कोई अन्य सदस्य उपरोक्त कार्यलय में पंजीकृत है , यदि हा तो विवरण दीजिये </p>
                                                            <div class="form-group">
                                                                <label class="form-label" for="fw-first-name">नाम</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="old_member_name" name="old_member_name">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <br>   <br>
                                                            <div class="form-group">
                                                                <label class="form-label" for="fw-first-name">पंजीकरण संख्या</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" data-msg="Required" class="form-control required" value="" id="old_application_no" name="old_application_no">
                                                                </div>
                                                            </div>
                                                        </div>




                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fw-mobile-number">आयु प्रमाण दस्तावेज <span style="color:red">*</span></label>

                                                                <div class="form-control-wrap">
                                                                    <select name="age_proof" required="" class="form-control">
                                                                        <option value=""></option>
                                                                        <option value="आधार कार्ड">आधार कार्ड</option>
                                                                        <option value="जन्म प्रमाण-पत्र">जन्म प्रमाण-पत्र</option>
                                                                        <option value="राशन कार्ड">राशन कार्ड</option>
                                                                        <option value="मतदान पहचान पत्र">मतदान पहचान पत्र</option>
                                                                        <option value="ड्राइविंग लाइसेंस">ड्राइविंग लाइसेंस</option>
                                                                        <option value="पैन कार्ड">पैन कार्ड</option>
                                                                        <option value="स्कूल प्रमाण-पत्र">स्कूल प्रमाण-पत्र</option>
                                                                        <option value="पासपोर्ट">पासपोर्ट</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fw-token-address">फोटोप्रति<span style="color:red">*</span></label>

                                                                <div class="form-control-wrap">
                                                                    <div class="custom-file">
                                                                        <input type="file" multiple="" class="custom-file-input" id="age_photo" name="age_photo" required="">
                                                                        <label class="custom-file-label" for="customFile">फाइलें चुनें</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>




                                                    <div class="">
                                                        <h5>नामांकित विवरण</h5>
                                                    </div><br>
                                                    <div class="">
                                                        <div class="row gy-2">

                                                            <div class="col-md-1">
                                                                <div class="form-group">
                                                                    <label style="font-size: 0.7rem !important;" class="form-label" for="fw-first-name">क्रम संख्या </label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="1" readonly="" id="NominatedDetail[0].Serial" name="NominatedDetail[0].Serial">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label style="font-size: 0.7rem !important;" class="form-label" for="fw-token-address">नामकिंत व्यक्तियों का नाम व पता नाम</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[0].NominatedPersonName" name="NominatedDetails[0].NominatedPersonName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label style="font-size: 0.7rem !important;" class="form-label" for="fw-email-address">लाभार्थी से संबध  </label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="NominatedDetails[0].Relation" value="" name="NominatedDetails[0].Relation">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">
                                                                    <label style="font-size: 0.7rem !important;" class="form-label" for="fw-mobile-number">आयु</label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" id="NominatedDetails[0].Age" value="" name="NominatedDetails[0].Age">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label style="font-size: 0.7rem !important;" class="form-label" for="fw-first-name">नामकिंत व्यक्तियों  को दी जाने वाली राशि अनुपातया  </label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[0].Percentage" name="NominatedDetails[0].Percentage">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="2" readonly="" id="NominatedDetail[1].Serial" name="NominatedDetail[1].Serial">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[1].NominatedPersonName" name="NominatedDetails[1].NominatedPersonName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="NominatedDetails[1].Relation" value="" name="NominatedDetails[1].Relation">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" id="NominatedDetails[1].Age" value="" name="NominatedDetails[1].Age">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">


                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[1].Percentage" name="NominatedDetails[1].Percentage">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="3" readonly="" id="NominatedDetails[2].Serial" name="NominatedDetails[2].Serial">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[2].NominatedPersonName" name="NominatedDetails[2].NominatedPersonName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="NominatedDetails[2].Relation" value="" name="NominatedDetails[2].Relation">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" id="NominatedDetails[2].Age" value="" name="NominatedDetails[2].Age">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">


                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[2].Percentage" name="NominatedDetails[2].Percentage">
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="4" readonly="" id="NominatedDetail[3].Serial" name="NominatedDetail[3].Serial">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value=""  id="NominatedDetails[3].NominatedPersonName" name="NominatedDetails[3].NominatedPersonName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="NominatedDetails[3].Relation" value="" name="NominatedDetails[3].Relation">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" id="NominatedDetails[3].Age" value="" name="NominatedDetails[3].Age">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">


                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[3].Percentage" name="NominatedDetails[3].Percentage">
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="5" readonly="" id="NominatedDetail[4].Serial" name="NominatedDetail[4].Serial">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[4].NominatedPersonName" name="NominatedDetails[4].NominatedPersonName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="NominatedDetails[4].Relation" value="" name="NominatedDetails[4].Relation">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">

                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" id="NominatedDetails[4].Age" value="" name="NominatedDetails[4].Age">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">


                                                                    <div class="form-control-wrap">
                                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="NominatedDetails[4].Percentage" name="NominatedDetails[4].Percentage">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <br>

                                                        <br>

                                                        <div class="row">
                                                            <div class="col-md-6 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="Place">स्थान<span style="color:red">*</span></label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" asp-for="Place" class="form-control required" id="Place" name="Place" required />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="form_Date">दिनांक<span style="color:red">*</span></label>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" asp-for="Form_Date" class="form-control required" readonly value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" required />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="Photo">फ़ोटो<span style="color:red">*</span></label>
                                                                    <div class="form-control-wrap">
                                                                        <div class="custom-file">
                                                                            <input type="file" asp-for="Photo" class="custom-file-input" id="Photo" name="Photo" required />
                                                                            <label class="custom-file-label" for="Photo">फाइलें चुनें</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-label" for="Signature">हस्ताक्षर (सफेद कागज पर नीला/काला हस्ताक्षर)<span style="color:red">*</span></label>
                                                                    <div class="form-control-wrap">
                                                                        <div class="custom-file">
                                                                            <input type="file" asp-for="Signature" class="custom-file-input" id="Signature" name="Signature" required />
                                                                            <label class="custom-file-label" for="Signature">फाइलें चुनें</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <br>

                                                        <br>

                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-lg btn-primary">Agree &amp; Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <script>

                document.getElementById('yourFormId').addEventListener('submit', function (event) {
                    if (!referenceInput.checkValidity()) {
                        errorDiv.textContent = 'Please enter digits only.';
                        errorDiv.style.display = 'block';
                        event.preventDefault(); // Prevent form submission
                    } else {
                        errorDiv.textContent = '';
                        errorDiv.style.display = 'none';
                    }
                });
                            });
            </script>
