@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ShagunGraminHealth.Models.MembershipPlan>

<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="card card-preview">
                <div class="card-inner">

                    <div class="datatable-wrap my-3">
                        <table class="datatable-init nowrap table dataTable no-footer dtr-inline">
                            <thead>
                                <tr role="row">
                                    <th></th>
                                    <th>Id</th>
                                    <th>योजना संख्या</th>
                                    <th>योजना का नाम</th>
                                    <th>योजना शुल्क</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var plan in Model)
                                {
                                    <tr data-status="" role="row">

                                        <td class="dtr-control sorting_1" tabindex="0">
                                            <a href="/Admin/Member/Apply?PlanNumber=@plan.PlanNumber">
                                                <span class="btn btn-primary">Apply Now</span>
                                            </a>
                                        </td>

                                        <td>@plan.Id</td>
                                        <td>@plan.PlanNumber</td>
                                        <td>@plan.PlanName</td>
                                        <td>@plan.PlanFee</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>