@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}



<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="card card-preview">
                    <div class="card-inner">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row justify-between g-2"><div class="col-7 col-sm-6 text-left"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control form-control-sm" placeholder="Type in to Search" aria-controls="DataTables_Table_0"></label></div></div><div class="col-5 col-sm-6 text-right"><div class="datatable-filter"><div class="dataTables_length" id="DataTables_Table_0_length"><label><span class="d-none d-sm-inline-block">Show</span><div class="form-control-select"> <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> </div></label></div></div></div></div><div class="datatable-wrap my-3">
                                <table class="datatable-init nowrap table dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Id: activate to sort column descending">Id</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Application_Id: activate to sort column ascending">Application_Id</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Plan No: activate to sort column ascending">Plan No</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Candidate_Name: activate to sort column ascending">Candidate_Name</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Father_Name: activate to sort column ascending">Father_Name</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sex: activate to sort column ascending">Sex</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending">Category</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Payment: activate to sort column ascending">Payment</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"></th></tr>
                                    </thead>
                                    <tbody>



                                        <tr class="odd"><td valign="top" colspan="9" class="dataTables_empty">No data available in table</td></tr>
                                    </tbody>

                                </table>
                            </div><div class="row align-items-center"><div class="col-7 col-sm-12 col-md-9"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Prev</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">Next</a></li></ul></div></div><div class="col-5 col-sm-12 col-md-3 text-left text-md-right"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">No records found</div></div></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>