@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");

}

<h3 class="nk-block-title page-title">Hello!  @username</h3>
<div class="nk-block-des text-soft">
    <p>Welcome to ShagunGraminHealth.com Dashboard</p>
</div>
<div class="nk-block">
    <div class="row g-gs">
        <div class="col-xxl-12">
            <div class="card card-bordered h-500">
                <div class="card-inner">
                    <div class="card-title-group align-start gx-3 mb-3">
                        <div class="card-title">
                            <h6 class="title">Update & Notifications</h6>
                            <p>Latest Updates and Notifications</p>
                        </div>
                    </div>
                    <table class="table" width="100%">
                        <tbody>
                            <tr data-status="221216AGFV306">
                                <td>
                                    Plan No - 221216AGFV306 - <b>Plan Name - शगुन योजना</b> -
                                    <a href="~/Admin/Member/ApplyMember" class="btn btn-primary">Apply Plan</a>
                                </td>
                            </tr>
                            <tr data-status="230124UNRL075">
                                <td>
                                    Plan No - 230124UNRL075 - <b>Plan Name - शगुन योजना वार्षिक</b> -
                                    <a href="~/Admin/Member/ApplyMember" class="btn btn-primary">Apply Plan</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>