@{
    Layout = "~/Areas/Candidate/Views/Shared/_Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Hello ! Shailvi</h3>
                            <div class="nk-block-des text-soft">
                                <p>Welcome to ShagunGraminHealth.com Dashboard</p>
                            </div>

                        </div><!-- .nk-block-between -->
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="row g-gs">

                            <div class="col-xxl-12">
                                <div class="card card-bordered h-500">
                                    <div class="card-inner">
                                        <div class="card-title-group align-start gx-3 mb-3">
                                            <div class="card-title">
                                                <h6 class="title">Update &amp; Notifications </h6>
                                                <p>Latest Updates and Notification</p>
                                            </div>


                                        </div>

                                        <table border="0" width="100%">

                                            <tbody>


                                                <tr data-status="03/2024">
                                                    <td>

                                                        Advertisment No - 03/2024 - <b>Advertisment Date - 2024-03-17 </b> -  Post - Area Inspector  -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg
" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=03/2024&amp;Post=Area Inspector&amp;Category=01"><span class="btn btn-primary">Apply Job</span></a>
                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-02-01 </b> -  Post - Private Secretary  -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Private Secretary&Category=02"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-03-17 </b> -  Post - Assistant Security Officer  -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Assistant Security Officer&Category=03"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-03-17 </b> -  Post - Steno Typist H/E  -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Steno Typist H/E&Category=04"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-03-17 </b> -  Post - Lower Division Clerk   -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Lower Division Clerk &amp;Category=05"><span class="btn btn-primary">Apply Job</span></a>

                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Lower Division Clerk &Category=05"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-03-17 </b> -  Post - Driver LTV  -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Driver LTV&amp;Category=06"><span class="btn btn-primary">Apply Job</span></a>

                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Driver LTV&Category=06"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-08-31 </b> -  Post - Female Worker   -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Female Worker &amp;Category=07"><span class="btn btn-primary">Apply Job</span></a>

                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Female Worker &Category=07"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-02-01 </b> -  Post - Assistant Cum Advisor   -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Assistant Cum Advisor &Category=08"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-02-01 </b> -  Post - Deputy Superintendent  -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Deputy Superintendent&Category=09"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-02-01 </b> -  Post - Upper Divison Clerk  -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Upper Divison Clerk&amp;Category=10"><span class="btn btn-primary">Apply Job</span></a>

                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Upper Divison Clerk&Category=10"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-02-01 </b> -  Post - Senior Scale Stenographer  -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Senior Scale Stenographer&Category=11"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-02-01 </b> -  Post - Field Supervisor   -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Field Supervisor &Category=12"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-08-31 </b> -  Post - Male Worker   -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Male Worker &amp;Category=13"><span class="btn btn-primary">Apply Job</span></a>

                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Male Worker &Category=13"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-02-01 </b> -  Post - Security Guard  -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Security Guard&amp;Category=14"><span class="btn btn-primary">Apply Job</span></a>

                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Security Guard&Category=14"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="02/2024">
                                                    <td>

                                                        Advertisment No - 02/2024 - <b>Advertisment Date - 2024-03-17 </b> -  Post - Peon Cum Sweeper  -  Last Date - 2024-08-31  -
                                                        <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Peon Cum Sweeper&amp;Category=15"><span class="btn btn-primary">Apply Job</span></a>

                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=02/2024&Post=Peon Cum Sweeper&Category=15"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>


                                                <tr data-status="240626VHJ514">
                                                    <td>

                                                        Advertisment No - 240626VHJ514 - <b>Advertisment Date - 2024-06-19 </b> -  Post - Ne  -  Last Date - 2024-06-15  -
                                                        <a href="/portal/Apply/uploads/26062024105459twitter-removebg-preview.png" target="_balnk" class="link"><i class="fa  fa-spinner"></i>    View File</a> -
                                                        <!-- <a href="Apply/apply_job.php?Advertisement_No=240626VHJ514&Post=Ne&Category=16"><span class="btn btn-primary">Apply Job</span></a> -->

                                                    </td>

                                                </tr>



                                            </tbody>
                                        </table>

                                    </div>

                                </div><!-- .card -->
                            </div><!-- .col -->



                        </div><!-- .row -->
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
