<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <base href="~/">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ShagunGraminHealth.com">
    <link rel="shortcut icon" href="~/images/favicon.png">
    <title>@ViewData["Title"] - ShagunGraminHealth.com</title>
    <link href="~/assets/assets/css/dashlite.css" rel="stylesheet" />
    <link id="skin-default" rel="stylesheet" href="~/assets/css/theme.css?ver=2.2.0">
</head>
<body class="nk-body bg-lighter npc-general has-sidebar no-touch nk-nio-theme">
    <div class="nk-app-root">
        <div class="nk-main">
            <div class="nk-sidebar nk-sidebar-fixed is-dark" data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="~/member/Dashboard" class="logo-link nk-sidebar-logo d-flex align-items-center">
                            <div class="logo-images">
                                <img class="logo-light logo-img" src="~/assets/assets/images/logo-img.png" srcset="~/assets/assets/images/logo-img.png" alt="logo">
                                <img class="logo-dark logo-img" src="~/assets/assets/images/logo-img.png" srcset="~/assets/assets/images/logo-img.png" alt="logo-dark">
                            </div>
                            <span class="ml-2" style="color: white;">ShagunGraminHealth</span>
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div>
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">
                                <li class="nk-menu-item active current-page">
                                    <a href="~/member/Dashboard" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="~/member/New_User" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-user-alt"></em></span> Update Profile</a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="~/member/Users_List" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-eye"></em></span> My Details</a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="~/Admin/Member/Index" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-loader"></em></span> All Plans</a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="~/member/appled_plan" class="nk-menu-link"><span class="nk-menu-icon"><em class="icon ni ni-check-circle-cut"></em></span> Applied Plans</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-wrap">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="~/member/Dashboard" class="logo-link">
                                    <img class="logo-light logo-img" src="~/assets/assets/images/logo-img.png" srcset="~/assets/assets/images/logo-img.png" alt="logo">
                                    <img class="logo-dark logo-img" src="~/assets/assets/images/logo-img.png" srcset="~/assets/assets/images/logo-img.png" alt="logo-dark">
                                </a>
                            </div>
                            <div class="nk-header-news d-none d-xl-block">
                                <div class="nk-news-list">
                                    <div class="nk-news-icon"></div>
                                    <div class="">
                                        <p><em class="icon ni ni-quote-left"></em> Read all information carefully before submitting any application. <em class="icon ni ni-quote-right"></em></p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-info d-none d-md-block">
                                                    <div class="user-status">Member Account</div>
                                                    <div class="user-name dropdown-indicator">Shailvi</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>S</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">Shailvi</span>
                                                        <span class="sub-text">shailvigupta2001@gmail.com</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="~/member/New_User"><em class="icon ni ni-user-alt"></em><span>Update Profile</span></a></li>
                                                    <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="~/member/logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Render Body -->
                <div class="nk-content">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Render Body End -->

                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright">© 2022 ShagunGraminHealth.com</div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/assets/js/bundle.js"></script>
    <script src="~/assets/assets/js/dashboard.js"></script>
</body>
</html>
