@model ShagunGraminHealth.ViewModel.JobApplicationViewModel

@{
    Layout = "~/Areas/Candidate/Views/Shared/_Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <!-- .nk-block-head -->
                <div class="nk-block nk-block-lg">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h4 class="title nk-block-title">Application Form </h4>
                            <div class="nk-block-des">
                                <p>Enter Your Details as per your documents.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="card-inner">

                                <form asp-action="ApplyJob" method="post" enctype="multipart/form-data">
                                    <br><div class="">
                                        <h5>APPLICATION DETAILS</h5>

                                    </div><br>
                                    <div class="">
                                        <div class="row gy-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Application ID<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" value="240724160939YPJT7650" id="ApplicationId" name="ApplicationId" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Advertisement No<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" value="03/2024" id="AdvertisementNo" name="AdvertisementNo" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Category No<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" value="01" id="CategoryNo" name="CategoryNo" required="">
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Name of the Post<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" value="Area Inspector" id="Post" name="Post" required="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Reference Id</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="ReferenceId" name="ReferenceId">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- .col -->
                                        </div>
                                    </div>
                                    <br>




                                    <div class="">
                                        <h5>PERSONAL DETAILS</h5>
                                    </div><br>
                                    <div class="">
                                        <div class="row gy-2">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Candidate Name (As per your documents/certificates)<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="CandidateName" name="CandidateName" required="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Father Name (As per your documents/certificates)<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" value="" id="FatherName" name="FatherName" required="">
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-token-address">Date of Birth<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">


                                                        <input class="dob_flds" type="text" placeholder="DD" id="DateOfBirthDays" name="DateOfBirthDays">
                                                        <input class="dob_flds" type="text" placeholder="MM" id="DateOfBirthMonths" name="DateOfBirthMonths">
                                                        <input class="dob_flds" type="year" placeholder="YYYY" id="DateOfBirthYears" name="DateOfBirthYears">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Sex<span style="color:red">*</span></label>

                                                    <div class="form-control-wrap">
                                                        <select name="Sex" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Email Address<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="email" class="form-control" data-msg="Required" id="EmailAddress" value="" name="EmailAddress" required="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Phone Number<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="PhoneNumber" value="" name="PhoneNumber" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Category<span style="color:red">*</span></label>

                                                    <div class="form-control-wrap">
                                                        <select name="Category" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="GEN">GEN</option>
                                                            <option value="SC">SC</option>
                                                            <option value="BCA">BCA</option>
                                                            <option value="BCB">BCB</option>
                                                            <option value="ESM">ESM</option>
                                                            <option value="DESM">DESM</option>
                                                            <option value="DEF">DEF</option>
                                                            <option value="SBC">SBC (special  Backward Class)</option>
                                                            <option value="EBPO">EBPG (Economical Backward  Person Genera)</option>


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Physically Handicapped<span style="color:red">*</span></label>

                                                    <div class="form-control-wrap">
                                                        <select name="PhysicallyHandicapped" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="No">No</option>
                                                            <option value="PHC">PHC(Ortho)</option>
                                                            <option value="PHO">PHO(Blind/Low Vision)</option>
                                                            <option value="PHCD">PHC Dent &amp; Dump/Hearning Impairment</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Are You Domicile of Haryana<span style="color:red">*</span></label>

                                                    <div class="form-control-wrap">
                                                        <select name="Domicile" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Nationality<span style="color:red">*</span></label>

                                                    <div class="form-control-wrap">
                                                        <select name="Nationality" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="Indian">Indian</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-mobile-number">Pincode <span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" data-msg="Required" class="form-control required" id="Pincode" value="" name="Pincode" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="fw-first-name">Address<span style="color:red">*</span></label>
                                                    <div class="form-control-wrap">
@*                                                        <textarea data-msg="Required" class="form-control required" id="Address" name="Address" required="" rows="6" placeholder="Full Address"></textarea>
*@                                                        <input type="text" data-msg="Required" class="form-control required" id="Address" value="" name="Address" rows="6" placeholder="Full Address" required="">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <br>

                                        <br>



                                        <div class="">
                                            <h5>EDUCATIONAL QUALIFICATIONS</h5>
                                        </div><br>
                                        <div class="">
                                            <div class="row gy-2">

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-first-name">Educational Qualifications </label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="8th Class" value="" readonly=""id="EducationalQualifications_8th" name="EducationalQualifications_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-token-address">Year of Passing</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="YearOfPassing_8th" name="YearOfPassing_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-email-address">Marks Obtained </label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="MarksObtained_8th" value="" name="MarksObtained_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-mobile-number">Total Marks</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="TotalMarks_8th" value="" name="TotalMarks_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-first-name">Percentage </label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Percentage_8th" name="Percentage_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-token-address">Division </label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Division_8th" name="Division_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-email-address">Name of Board/University </label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="BoardUniversity_8th" value="" name="BoardUniversity_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label style="font-size: 0.7rem !important;" class="form-label" for="fw-mobile-number">Subjects</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Subjects_8th" value="" name="Subjects_8th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="10th Class" value="" readonly="" id="EducationalQualifications_10th" name="EducationalQualifications_10th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="YearOfPassing_10th" name="YearOfPassing_10th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="MarksObtained_10th" value="" name="MarksObtained_10th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="TotalMarks_10th" value="" name="TotalMarks_10th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Percentage_10th" name="Percentage_10th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Division_10th" name="Division_10th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text"   class="form-control required email" id="BoardUniversity_10th" value="" name="BoardUniversity_10th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Subjects_10th" value="" name="Subjects_10th">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="12th Class" readonly="" id="EducationalQualifications_12th" name="EducationalQualifications_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="YearOfPassing_12th" name="YearOfPassing_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="MarksObtained_12th" value="" name="MarksObtained_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="TotalMarks_12th" value="" name="TotalMarks_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Percentage_12th" name="Percentage_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Division_12th" name="Division_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="BoardUniversity_12th" value="" name="BoardUniversity_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Subjects_12th" value="" name="Subjects_12th">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="ITI/Vocational" readonly="" id="EducationalQualifications_ITI" name="EducationalQualifications_ITI">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="YearOfPassing_ITI" name="YearOfPassing_ITI">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="MarksObtained_ITI" value="" name="MarksObtained_ITI">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="TotalMarks_ITI" value="" name="TotalMarks_ITI">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Percentage_ITI" name="Percentage_ITI">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Division_ITI" name="Division_ITI">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="BoardUniversity_ITI" value="" name="BoardUniversity_ITI">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Subjects_ITI" value="" name="Subjects_ITI">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" readonly="" value="Diploma Degree" id="EducationalQualifications_Diploma" name="EducationalQualifications_Diploma">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="YearOfPassing_Diploma" name="YearOfPassing_Diploma">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required"  class="form-control required email" id="MarksObtained_Diploma" value="" name="MarksObtained_Diploma">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="TotalMarks_Diploma" value="" name="TotalMarks_Diploma">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Percentage_Diploma" name="Percentage_Diploma">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Division_Diploma" name="Division_Diploma">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="BoardUniversity_Diploma" value="" name="BoardUniversity_Diploma">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Subjects_Diploma" value="" name="Subjects_Diploma">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="Bachelor Degree" readonly="" id="EducationalQualifications_Bachelor" name="EducationalQualifications_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="YearOfPassing_Bachelor" name="YearOfPassing_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required email" value="" id="MarksObtained_Bachelor"  name="MarksObtained_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="TotalMarks_Bachelor" value="" name="TotalMarks_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Percentage_Bachelor" name="Percentage_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Division_Bachelor" name="Division_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="BoardUniversity_Bachelor" value="" name="BoardUniversity_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Subjects_Bachelor" value="" name="Subjects_Bachelor">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="Master Degree" readonly="" id="EducationalQualifications_Master" name="EducationalQualifications_Master">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="YearOfPassing_Master" name="YearOfPassing_Master">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="MarksObtained_Master" value="" name="MarksObtained_Master">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="TotalMarks_Master" value="" name="TotalMarks_Master">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Percentage_Master" name="Percentage_Master">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Division_Master" name="Division_Master">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" data-msg-email="Wrong Email" class="form-control required email" id="BoardUniversity_Master" value="" name="BoardUniversity_Master">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">

                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" id="Subjects_Master" value="" name="Subjects_Master">
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">Any Other Higher Qualification specify<span style="color:red">*</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" data-msg="Required" class="form-control required" value="" id="Higher_Qualification" name="Higher_Qualification" required="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label" for="fw-first-name">Experience</label>
                                                        <div class="form-control-wrap">
                                                            <input class="exp_flds" type="text" placeholder="Years" id="Experience_Years" name="Experience_Years">
                                                            <input class="exp_flds" type="text" placeholder="Months" id="Experience_Months" name="Experience_Months">
                                                            <input class="exp_flds" type="text" placeholder="Days" id="Experience_Days" name="Experience_Days">

                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <br>
                                            <br>




                                            <div class="">
                                                <h5>DECLARATION DETAILS</h5>
                                            </div><br>
                                            <div class="">
                                                <div class="row gy-2">

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="fw-first-name">Visible identification declaration mark on the body of candidate <span style="color:red">*</span></label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" data-msg="Required" class="form-control required" id="VisibleIdentification" name="VisibleIdentification" required="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="fw-mobile-number">I Agree<span style="color:red">*</span></label>

                                                            <div class="form-control-wrap">
                                                                <select name="Agree" required="" class="form-control">
                                                                    <option value="">Select</option>
                                                                    <option value="Yes">Yes</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <img src="./images/dec.png">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="fw-token-address">Place<span style="color:red">*</span></label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" data-msg="Required" class="form-control required" id="Place" name="Place" required="">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="fw-mobile-number">Date<span style="color:red">*</span></label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" data-msg="Required" readonly="" class="form-control required" value="2024-07-24 16:09:39" name="form_Date" required="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="fw-token-address">Photo<span style="color:red">*</span></label>

                                                            <div class="form-control-wrap">
                                                                <div class="custom-file">
                                                                    <input type="file" multiple="" class="custom-file-input" id="Photo" name="Photo" accept="image/*" required="">
                                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="fw-token-address">Signature(Blue/Black Sign on White Paper)<span style="color:red">*</span></label>

                                                            <div class="form-control-wrap">
                                                                <div class="custom-file">
                                                                    <input type="file" multiple="" class="custom-file-input" id="Signature" name="Signature" accept="image/*" required="">
                                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <br>
                                                <br>








                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <input type="hidden" value="" class="age_limit" name="age_limit">
                                                        <input type="hidden" value="" class="min_qualification" name="min_qualification">
                                                        <button type="submit" class="btn btn-lg btn-primary">Agree &amp; Submit</button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .nk-block -->

                    </div>

                </div>
            </div>
