@model List<ShagunGraminHealth.Models.JobAdvertisement>
@{
    Layout = "~/Areas/Candidate/Views/Shared/_Layout.cshtml";
}



<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="card card-preview">
                    <div class="card-inner">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <table class="datatable-init nowrap table dataTable no-footer dtr-inline collapsed" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label=": activate to sort column descending"></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Id: activate to sort column ascending">Id</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Advertisement_No: activate to sort column ascending">Advertisement_No</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Advertisement_Date: activate to sort column ascending">Advertisement_Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Last_Date: activate to sort column ascending">Last_Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending">Category</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Post: activate to sort column ascending">Post</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Application_Fee_GEN: activate to sort column ascending">Application_Fee_GEN</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Application_Fee_OTH: activate to sort column ascending" style="display: none;">Application_Fee_OTH</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="File: activate to sort column ascending" style="display: none;">File</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="display: none;">Status</th></tr>
                                    </thead>
                                    <tbody>


                                        <tr data-status="" role="row" class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                            </td>
                                            <td> 2</td>
                                            <td> 02/2024</td>
                                            <td> 2024-02-01</td>
                                            <td> 2024-06-15</td>
                                            <td> 02</td>
                                            <td> Private Secretary</td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                            </td>
                                            <td> 3</td>
                                            <td> 02/2024</td>
                                            <td> 2024-03-17</td>
                                            <td> 2024-06-15</td>
                                            <td> 03</td>
                                            <td> Assistant Security Officer</td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                            </td>
                                            <td> 4</td>
                                            <td> 02/2024</td>
                                            <td> 2024-03-17</td>
                                            <td> 2024-06-15</td>
                                            <td> 04</td>
                                            <td> Steno Typist H/E</td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                            </td>
                                            <td> 8</td>
                                            <td> 02/2024</td>
                                            <td> 2024-02-01</td>
                                            <td> 2024-06-15</td>
                                            <td> 08</td>
                                            <td> Assistant Cum Advisor </td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                            </td>
                                            <td> 9</td>
                                            <td> 02/2024</td>
                                            <td> 2024-02-01</td>
                                            <td> 2024-06-15</td>
                                            <td> 09</td>
                                            <td> Deputy Superintendent</td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="even">
                                            <td class="sorting_1 dtr-control">
                                            </td>
                                            <td> 11</td>
                                            <td> 02/2024</td>
                                            <td> 2024-02-01</td>
                                            <td> 2024-06-15</td>
                                            <td> 11</td>
                                            <td> Senior Scale Stenographer</td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="odd">
                                            <td class="sorting_1 dtr-control">
                                            </td>
                                            <td> 12</td>
                                            <td> 02/2024</td>
                                            <td> 2024-02-01</td>
                                            <td> 2024-06-15</td>
                                            <td> 12</td>
                                            <td> Field Supervisor </td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240209-WA0006.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                                <a href="Apply/apply_job.php?Advertisement_No=03/2024&amp;Post=Area Inspector&amp;Category=01"><span class="btn btn-primary">Apply Job</span></a>


                                            </td>
                                            <td> 1</td>
                                            <td> 03/2024</td>
                                            <td> 2024-03-17</td>
                                            <td> 2024-08-31</td>
                                            <td> 01</td>
                                            <td> Area Inspector</td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;">
                                                <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg
" target="_blank">View File</a>
                                            </td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                                <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Lower Division Clerk &amp;Category=05"><span class="btn btn-primary">Apply Job</span></a>


                                            </td>
                                            <td> 5</td>
                                            <td> 02/2024</td>
                                            <td> 2024-03-17</td>
                                            <td> 2024-08-31</td>
                                            <td> 05</td>
                                            <td> Lower Division Clerk </td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                        <tr data-status="" role="row" class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">
                                                <a href="Apply/apply_job.php?Advertisement_No=02/2024&amp;Post=Driver LTV&amp;Category=06"><span class="btn btn-primary">Apply Job</span></a>


                                            </td>
                                            <td> 6</td>
                                            <td> 02/2024</td>
                                            <td> 2024-03-17</td>
                                            <td> 2024-08-31</td>
                                            <td> 06</td>
                                            <td> Driver LTV</td>
                                            <td> 1000</td>
                                            <td style="display: none;"> 1000</td>
                                            <td style="display: none;"> <a href="/portal/Apply/uploads/IMG-20240323-WA0007.jpg" target="_blank">View File</a></td>
                                            <td style="display: none;">  Active</td>




                                        </tr>
                                    </tbody>

                                </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

