@model ShagunGraminHealth.Models.LoginModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | ShagunGraminHealth</title>
    <meta name="description" content="Sign up form for ShagunGraminHealth">
    <link rel="icon" type="image/x-icon" href="~/admin/assets/img/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/assets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="~/admin/assets/vendor/css/core.css">
    <link rel="stylesheet" href="~/admin/assets/vendor/css/theme-default.css">
    <link rel="stylesheet" href="~/admin/assets/css/demo.css">
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-7 col-lg-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-5">
                                <img src="~/assets/assets/images/logo-img.png" alt="logo" class="card-img">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="fw-normal mb-4">Create New ShagunGraminHealth.com Account</h5>
                                    <form asp-controller="UserLogin" asp-action="Login" method="post">
                                        <div class="mb-3">
                                            <input type="text" name="Email" class="form-control" placeholder="Email Address">
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" name="Password" class="form-control" placeholder="Password">
                                        </div>
                                        <button class="btn btn-danger btn-lg btn-block mb-3" type="submit">Sign In</button>
                                        <div class="text-muted">
                                            <a href="#!" class="me-2">Terms of Use</a>
                                            <a href="#!">Privacy Policy</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/admin/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/admin/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/admin/assets/vendor/js/bootstrap.js"></script>
    <script src="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
</body>

</html>
